<div class="side-wrapper">
                <div class="title-group">
                    <span class="title">网站公告</span>
                    <span class="more"><a href="">更多</a></span>
                </div>
                <div class="advertise-group">
                    <a href="">
                        <img src="http://cdn.shiqianlong.top/web1.jpg" alt="">
                    </a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注我们</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                            <li class="gitee">
                                <i class="icon-mayun iconfont"></i>
                                <a href="https://gitee.com/shiqianlong" target="_blank">码云</a>
                            </li>
                            <li class="github">
                                <i class="icon-huaban88 iconfont"></i>
                                <a href="https://github.com/shiqianlong" target="_blank">GitHub</a>
                            </li>
                            <li class="weibo">
                                <i class="icon-weibo iconfont"></i>
                                <a href="https://weibo.com/p/1005056574236863/home?from=page_100505&mod=TAB&is_all=1#place" target="_blank">我的微博</a>
                            </li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫码关注公众号平台"大Python"</p>
                        </div>
                    </div>
                </div>

                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">推荐</span>
                    </div>
                    <ul class="hot-list-group">
{#                        <li>#}
{#                            <div class="left-group">#}
{#                                <p class="title">#}
{#                                    <a href="">这是一篇热门新闻，这是一篇热门新闻...</a>#}
{#                                </p>#}
{#                                <p class="more">#}
{#                                    <span class="category">python</span>#}
{#                                    <span class="pub-time">1小时前</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="right-group">#}
{#                                <a href="">#}
{#                                    <img src="{% static 'images/4.jpg' %}" alt="">#}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}
                    </ul>
                </div>
            </div>