{% extends 'base/front_base.html' %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
{% endblock %}

{% block title %}
    更多
{% endblock %}

{% block main %}
    <div class="more-info" style="margin: 200px auto">
        <h1 style="margin-left: 200px">更多功能敬请期待!!!</h1>
        <h2 style="margin-left: 200px">我们会持续升级维护该网站，版本升级消息会通过公众号第一时间发布，欢迎您的关注。</h2>
        <h3 style="margin-left: 1000px; margin-top: 20px; font-weight: 400">子午</h3>
    </div>
{% endblock %}